aux_notes/
BKP/
docs/build/
puzzle/
__pycache__/
maze/other mazes/

# Not to be uploaded
maze/search.py
maze/to add maze_py path to search


**/._vscode
.vscode/
**/.venv/

# editor temp files:
*~


Que hay aqui.txt







