explaining search/
old/
Original code/
__pycache__/

# Los incluyo de momento por si hay textos útiles:
docs/algorithm.md
docs/README_cd50.md


# En este directorio voy a depurar search.py
search_depuration/




